<dl>
  <% present_terms(@presenter, @presenter.terms_with_values) do |r, term| %>
    <div>
      <dt><%= r.label(term) %></dt>
      <dd><%= r.value(term) %></dd>
    </div>
  <% end %>
  <div>
    <dt>Last Updated</dt>
    <dd><%= @presenter.modified_date %></dd>
  </div>
</dl>