<% if !recent_documents.blank? %>
  <% if !@featured_work_list.empty? %>
  <div class="col-lg-6">
  <% else %>
  <div>
  <% end %>
    <h2><%= t('hyrax.homepage.recently_uploaded.title') %></h2>
    <div id="recent_docs">
      <ol class="list-group list-group-striped recent_uploads">
        <%= render partial: "recent_document", collection: recent_documents %>
      </ol>
    </div>
  </div>
<% end %>