---
http_interactions:
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"81023d70065fb7cc5c9fb88c0ef39964"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"libraries":[{"id":41,"code":"B-AAAMC","label":"Bloomington
        - Archives of African American Music \u0026 Culture","address":"","address2":"","city":"","state":"","zip":"","phone":"","email":"","url":"","urlHours":"","latitude":"","longitude":"","notes":"","created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:53:00.000Z"},{"id":5,"code":"B-ALF","label":"Bloomington
        - Auxiliary Library Facility","address":"","address2":"","city":"","state":"","zip":"","phone":"","email":"","url":"","urlHours":"","latitude":"","longitude":"","notes":"","created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:53:31.000Z"},{"id":3,"code":"B-ARCHIVES","label":"Bloomington
        - University Archives","address":"Wells Library E460","address2":"1320 E 10th
        St.","city":"Bloomington[...]
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/B-WELLS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"229d8c3993bba26533aaeb5df99e947a"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"library":{"id":1,"code":"B-WELLS","label":"Bloomington
        - Herman B Wells Library","address":"1320 E 10th St.","address2":"","city":"Bloomington","state":"IN","zip":"47405","phone":"(812)
        855-0100","email":"libref@indiana.edu","url":"https://libraries.indiana.edu/wells","urlHours":"https://libraries.indiana.edu/wells/hours","latitude":"39.17098","longitude":"-86.51689","notes":"\u003ch2\u003eMy
        \u003cspan style=\"background-color: rgb(255, 255, 0);\"\u003elibrary\u003c/span\u003e
        \u003cb\u003enotes\u003c/b\u003e...\u0026nbsp; \u003c/h2\u003e\u003col\u003e\u003cli\u003e\u003ca
        href=\"https://libraries.indiana.edu/\" target=\"_blank\"\u003eIU Libraries\u003c/a\u003e\u0026nbsp;website\u003c/li\u003e\u003cli\u003e\u003cbr\u003e\u003c/li\u003e\u003c/ol\u003e","created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:56:58.000Z"},"hours":null,"today":{"dow":"monday","month":"12","day":"31","year":"2018"},"exceptions":[],"floors":[]}}'
  recorded_at: Mon, 31 Dec 2018 23:22:09 GMT
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"2e1c72a6f2dcecaaf4cfacd0a8d8a863"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"data":"invalid id"}'
  recorded_at: Mon, 31 Dec 2018 23:22:09 GMT
recorded_with: VCR 4.0.0
