---
http_interactions:
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"bfc496f824650d177621ca491accfbf4"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"libraries":[{"id":41,"code":"B-AAAMC","label":"Bloomington
        - Archives of African American Music \u0026 Culture","address":"","address2":"","city":"","state":"","zip":"","phone":"","email":"","url":"","urlHours":"","latitude":"","longitude":"","parking":null,"notes":"","no_display":false,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:53:00.000Z"},{"id":5,"code":"B-ALF","label":"Bloomington
        - Auxiliary Library Facility","address":"851 N. Range Road","address2":"","city":"Bloomington","state":"IN","zip":"47408","phone":"812-856-0832","email":"libalf@iu.edu","url":"","urlHours":"","latitude":"39.1751","longitude":"-86.4975","parking":null,"notes":"","no_display":true,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2019-01-17T16:51:47.000Z"},{"id":3,"code":"B-ARCHIVES","label":"Bloomington
        - [...]
