---
http_interactions:
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"90ae5a99dd7880fe142aef426f96b46e"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"libraries":[{"id":41,"code":"B-AAAMC","label":"Bloomington
        - Archives of African American Music \u0026 Culture","address":"","address2":"","city":"","state":"","zip":"","phone":"","email":"","url":"","urlHours":"","latitude":"","longitude":"","parking":null,"notes":"","no_display":false,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:53:00.000Z"},{"id":5,"code":"B-ALF","label":"Bloomington
        - Auxiliary Library Facility","address":"851 N. Range Road","address2":"","city":"Bloomington","state":"IN","zip":"47408","phone":"812-856-0832","email":"libalf@iu.edu","url":"","urlHours":"","latitude":"39.1751","longitude":"-86.4975","parking":null,"notes":"","no_display":true,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2019-01-17T16:51:47.000Z"},{"id":3,"code":"B-ARCHIVES","label":"Bloomington
        - [...]
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/B-WELLS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"8cd7aba0b15afcef9db41ec25f9b165e"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"library":{"id":1,"code":"B-WELLS","label":"Bloomington
        - Herman B Wells Library","address":"1320 E 10th St.","address2":"","city":"Bloomington","state":"IN","zip":"47405","phone":"(812)
        855-0100","email":"libref@indiana.edu","url":"https://libraries.indiana.edu/wells","urlHours":"https://libraries.indiana.edu/wells/hours","latitude":"39.17098","longitude":"-86.51689","parking":null,"notes":"\u003ch2\u003eMy
        \u003cspan style=\"background-color: rgb(255, 255, 0);\"\u003elibrary\u003c/span\u003e
        \u003cb\u003enotes\u003c/b\u003e...\u0026nbsp; \u003c/h2\u003e\u003col\u003e\u003cli\u003e\u003ca
        href=\"https://libraries.indiana.edu/\" target=\"_blank\"\u003eIU Libraries\u003c/a\u003e\u0026nbsp;website\u003c/li\u003e\u003cli\u003e\u003cbr\u003e\u003c/li\u003e\u003c/ol\u003e","no_display":false,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2018-12-21T15:56:58.000Z"},"pretty_hours":{"sunday":{"start":"11:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null},"monday":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003eAM\u003c/span\u003e","closed":null},"tuesday":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null},"wednesday":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null},"thursday":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null},"friday":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":" 9:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null},"saturday":{"start":"10:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"
        9:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","closed":null}},"hours":null,"today":{"start":"
        8:00","start_meridian":"\u003cspan\u003eAM\u003c/span\u003e","end":"12:00","end_meridian":"\u003cspan\u003ePM\u003c/span\u003e","exception":null,"dow":"tuesday","month":"03","day":"19","year":"2019"},"exceptions":[{"id":78,"library_hours_id":18,"exception_date":"2019-03-09","start_time":"13:00","end_time":"17:00","closed":false,"reason":"Spring
        Break","created_at":"2018-12-04T19:43:42.000Z","updated_at":"2018-12-04T19:43:42.000Z"},{"id":79,"library_hours_id":18,"exception_date":"2019-03-10","start_time":"13:00","end_time":"17:00","closed":false,"reason":"Spring
        Break","created_at":"2018-12-04T19:43:56.000Z","updated_at":"2018-12-04T19:43:56.000Z"},{"id":80,"library_hours_id":18,"exception_date":"2019-03-11","start_time":"13:00","end_time":"17:00","closed":false,"reason":"Spring
        Break","created_at":"2018-[...]
- request:
    method: get
    uri: http://iucat-feature-tadas.uits.iu.edu/api/library/foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"3af3cc2a8dc1f07479fac88bf4543456"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"data":"invalid id"}'
  recorded_at: Tue, 19 Mar 2019 17:47:42 GMT
recorded_with: VCR 4.0.0
